body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #5b5b5b;
}

ol, ul {
  margin-top: 5px;
  padding-left: 30px;
}

button {
  color: inherit;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: white;
  border: 1px solid #999;
  border-radius: 6px;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  height: 44px;
  margin: 1px;
  padding: 0;
  text-align: center;
  width: 44px;
}

.square:focus {
  outline: none;
}

.winner {
  background-color: lightgreen;
  color: white;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.toggle-order {
  margin: 15px 0 0px 30px;
}
